
<%= form_with(model: mood_entry, local: true) do |form| %>
  <div class="enter">
    <%= form.label :entry_date %>
    <%= form.date_field :entry_date, required: true %>
  </div>

  <div class="enter">
    <%= form.label :mood %>
    <%= form.select :mood -, ["ðŸ˜Š", "ðŸ˜", "ðŸ˜¢", "ðŸ˜¡", "ðŸ˜°"], prompt: "Select your mood", required: true %>
  </div>

  <div class="enter">
    <%= form.label :note %>
    <%= form.text_area :note, maxlength: 150, required: true %>
  </div>

  <div class="enter">
    <%= form.submit "Save" %>
  </div>
<% end %>
