<h1>⋆⁺₊⋆My Mood Journal⋆₊⁺⋆</h1>

<h6 class="intro-text"><i>Welcome! Track your emotions every day and reflect on your mood over time :) </i></h6>

<%= link_to "New Entry", new_mood_entry_path, class:"new-entry-link" %>


<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Mood</th>
            <th>Note</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <% @mood_entries.each do |entry| %>
            <tr>
                <td>
                    <%= entry.entry_date.present? ? entry.entry_date.strftime("%A, %b %d") : "No date" %>
                </td>
                <td style="font-size: 24px;"><%= entry.mood %></td>
                <td><%= entry.note %></td>
                <td>
                    <%= link_to "Edit", edit_mood_entry_path(entry), method: :get, form: { style: "display: inline" }%>
                    <%= button_to "Delete", mood_entry_path(entry), method: :delete, data: { turbo_confirm: "Are you sure?" }, form: { style: "display: inline" }, class: "delete-link" %>
                </td>

            </tr>
        <% end %>
    </tbody>
</table>